################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samvad.CRM/.vs/Samvad.CRM/v16
