################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samvad.CRM/.vs/Samvad.CRM/v16
/Samvad.CRM/Samvad.CRM/obj/Debug/netcoreapp2.2
/Samvad.CRM/Samvad.CRM/obj
